:root {
    --active-link-color: white;
    --header-background-color: #222;
    --header-border-color: #080808;
    --navigation-link-color: #959595;
    --input-font-color: #555;
    --input-background-color: white;
    --input-border-color: #ccc;
    --button-font-color: #333;
    --button-background-color: white;
    --button-border-color: #ccc;
    --focused-input-border-color: #66afe9;
    --hovered-button-font-color: #333;
    --hovered-button-background-color: #e6e6e6;
    --hovered-button-border-color: #8c8c8c;
    --nested-list-background-color: white;
    --nested-list-item-font-color: #333;
    --hovered-nested-list-item-background-color: #8c8c8c;
    --hamburger-menu-label-background-color: #222;
    --hamburger-menu-label-font-color: white;
    --main-font-color: #959595;
    --square-images-section-header-font-color: black;
    --hamburger-menu-label-border-color: #333;
    --hovered-hamburger-menu-label-background-color: #333;
    --current-page-background-color: black;
    --footer-active-link-color: #337ab7;
    --footer-hovered-link-color: #23527c;
    --outside-input-box-shadow-color: rgba(102, 175, 233, 0.6);
    --inside-input-box-shadow-color: rgba(0, 0, 0, 0.075);
    --outside-navigation-box-shadow-color: rgba(255, 255, 255, .1);
    --inside-navigation-box-shadow-color: rgba(255, 255, 255, .1);
    --navigation-border-color: #101010; 
    --form-border-color: #101010; 
    --first-section-background-color: #9acd32;
    --first-section-font-color: #adff2f;
    --rounded-images-section-backgound-color: #daa520;
    --rounded-images-section-font-color: black;
    --section-active-link-color: #337ab7;
    --section-hovered-link-color: #23527c;
    --hovered-section-button-background-color: #286090;
    --hovered-section-button-font-color: white;
    --hovered-section-button-border-color: #122b40;
    --section-button-background-color: #337ab7;
    --section-button-border-color: #2e6da4;
}